.main-div mat-card {
    padding: 0%;
}

.btn{
    margin-left: 10px;
}

.main-div {
    display: flex;
    justify-content: center;
    /* Horizontally center */
    align-items: center;
    /* Vertically center */
    height: 90vh;
    /* Full height of the viewport */
}

mat-card {
    width: 400px;
    /* You can adjust the width as per your requirement */
}
.forgot-password a {
    font-size: 14px;
    color: var(--pulse-color, #1976d2); // fallback to primary if not themed
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }