<div style="height: 85%; border: 1px solid #eee">
    <as-split [useTransition]="true" unit="percent" [gutterSize]="10" [direction]="'horizontal'">
      <as-split-area [size]="30" [order]="1" [visible]="keepLeft">
        <mat-card>
            <p>Cenetr</p>
        </mat-card>
      </as-split-area>
      <as-split-area [size]="50" [order]="2" [visible]="true">
        <button
          mat-button
          class="collapse-btn"
          (click)="keepLeft=!keepLeft"
        ></button>
        Some Content
      </as-split-area>
      <as-split-area [size]="20" [order]="2" [visible]="true">
        <as-split [useTransition]="true" unit="percent" [gutterSize]="10" [direction]="'vertical'">
            <as-split-area [size]="30" [order]="1" [visible]="keepLeft">
              <mat-card>
                  <p>Cenetr</p>
              </mat-card>
            </as-split-area>
            <as-split-area [size]="50" [order]="2" [visible]="true">
              <button
                mat-button
                class="collapse-btn"
                (click)="keepLeft=!keepLeft"
              ></button>
              Some Content
            </as-split-area>
            <as-split-area [size]="20" [order]="2" [visible]="true">
        Right
              Some Content
            </as-split-area>
          </as-split>
      </as-split-area>
    </as-split>
  </div>