.topClass h1 {
  text-align: left;
  margin-bottom: 20px;
  color: #3f51b5; /* Mat-Primary color */
}
.hori {
  display: flex;
  align-items: center; /* Vertically center the items */
  gap: 1rem; /* Add space between the items */
}

.flex-form-field {
  flex: 1; /* Make form fields take equal space */
  min-width: 200px; /* Ensure a minimum width */
}

.mat-form-field {
  flex: 1;
  min-width: 200px;
}

.memberData a,
.memberData span {
  display: block;
  margin-bottom: 5px;
}
.mat-checkbox {
  margin-right: 20px;
}

.fullWith {
  flex: 1;
}
.text-right {
  text-align: right;
}