<mat-nav-list>
  <div *ngIf="member" mat-list-item>
    <mat-icon>arrow_back</mat-icon>
    <span class="nav-caption">{{ member.name }}</span>
    <div *ngIf="roles.length > 1">
      <span class="nav-caption">Role:</span>
      <span class="nav-caption" *ngFor="let role of roles">{{ role }}</span>
    </div>
  </div>

  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/signin" (click)="onSidenavClose()">
    <mat-icon>signout</mat-icon> <span class="nav-caption">Sign Out</span>
  </a>
  <a mat-list-item routerLink="/c_history" (click)="onSidenavClose()">
    <mat-icon>history</mat-icon> <span class="nav-caption">Claim History</span>
  </a>
  <a mat-list-item routerLink="/download" (click)="onSidenavClose()">
    <mat-icon>download</mat-icon>
    <span class="nav-caption">Download</span>
  </a>
  <a mat-list-item routerLink="/profile" (click)="onSidenavClose()">
    <mat-icon>contact_support</mat-icon><span class="nav-caption">Profile</span>
  </a>
  <!--a mat-list-item *ngIf="isAdmin" mat-button matBadgeColor="accent" [matMenuTriggerFor]="admin" (click)="onSidenavClose()">
        <mat-icon>contact_support</mat-icon><span class="nav-caption">Admin</span>
    </a-->
</mat-nav-list>
