.hori {
  display: flex;
  width: 100%;
  margin-left: 16px;
  margin-top: 16px;
  align-items: baseline;
  gap: 20px;
}
.example-full-width{
  width: auto;
  margin: 8px;
}
tr.mat-mdc-row:hover {
  background-color: rgb(183, 174, 223);
  cursor: pointer;
}

.mat-mdc-table .mdc-data-table__row:hover {
  background-color: rgba(236, 236, 236, 0.514) !important;
}

.mat-column-id {
  width: 32px;
  border-right: 1px solid black;
  padding-right: 24px;
  text-align: center;
}

.mat-column-claimStatus {
  font-style: italic;
}

.mat-column-requestAmount {
  padding-right: 20px;
  text-align: right;
  content: ",";
}

.mat-column-paidAmount {
  font-style: bold;
  font-size: large;
  padding-right: 20px;
  text-align: right;
  content: ",";
}

.claim-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  padding: 16px;
}

.claim-card mat-card-header {
  background-color: #f1f1f1;
}

@media (max-width: 600px) {
  .hori {
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
  }

  .claim-card {
    min-width: 300px;
    flex: 0 0 auto;
  }
  .example-full-width{
    width: 100%;
  }
}