<div fxLayout="column" fxLayoutGap="8px">
  <div>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Claim Category</mat-label>
      <mat-select [(ngModel)]="selectedCategory">
        <mat-option [value]="cat" *ngFor="let cat of claimCategory">{{cat}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Claim Status</mat-label>
      <mat-select [(ngModel)]="selectedStatus">
        <mat-option [value]="cStatus" *ngFor="let cStatus of claimStatus">{{cStatus}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Year</mat-label>
      <input type="text" onlyNumber matInput [(ngModel)]="year">
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="search()">Search</button>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="start start" *ngIf="isMobile">
    <!-- Show Cards on Mobile (xs) -->
    <div *ngFor="let claim of dataSource.data" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%">
      <mat-card class="claim-card">
        <mat-card-header>
          <mat-card-title>Claim No: {{ claim.id }}-{{ claim.requestFor }}</mat-card-title>
          <mat-card-subtitle>{{ claim.claimDate }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Category:</strong> {{ claim.category }}</p>
          <p><strong>Status:</strong> {{ claim.claimStatus }}</p>
          <p><strong>Requested Amount:</strong> {{ claim.requestAmount | currency: 'Rs. ' }}</p>
          <p><strong>Paid Amount:</strong> {{ claim.paidAmount | currency: 'Rs. ' }}</p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
  <!-- Show Table on Desktop (sm and above) -->
  <div fxFlex="100%" *ngIf="!isMobile">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>
      <!-- Columns Definitions -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Claim No</th>
        <td mat-cell *matCellDef="let claim">{{ claim.id }}</td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
        <td mat-cell *matCellDef="let claim">{{ claim.category }}</td>
      </ng-container>
      <ng-container matColumnDef="requestFor">
        <th mat-header-cell *matHeaderCellDef>Request For</th>
        <td mat-cell *matCellDef="let claim">{{ claim.requestFor }}</td>
      </ng-container>
      <ng-container matColumnDef="claimDate">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let claim">{{ claim.claimDate }}</td>
      </ng-container>
      <ng-container matColumnDef="claimStatus">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let claim">{{ readableStatus(claim.claimStatus) }}</td>
      </ng-container>
      <ng-container matColumnDef="requestAmount">
        <th mat-header-cell *matHeaderCellDef>Request Amount</th>
        <td mat-cell *matCellDef="let claim">{{ claim.requestAmount | currency: 'Rs. ' }}</td>
      </ng-container>
      <ng-container matColumnDef="paidAmount">
        <th mat-header-cell *matHeaderCellDef>Paid Amount</th>
        <td mat-cell *matCellDef="let claim">{{ claim.paidAmount | currency: 'Rs. ' }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
      <tr mat-row *matRowDef="let claim; columns: displayedColumns;" (click)="onRowClicked(claim)"></tr>
    </table>

  </div>
  <mat-paginator #paginator [length]="totalLength"></mat-paginator>
</div>