<mat-card class=" card">
    <mat-card-header>
        <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Names or Emp No" [formControl]="searchControl">
        </mat-form-field>
    </mat-card-header>
    <mat-card-content class="mat-card-content">
        <table mat-table class="topClass-table mat-elevation-z8" [dataSource]="dataSource" matSort>

            <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema; let i = index">
                <th mat-sort-header *matHeaderCellDef> {{columnsSchema[i].label}}</th>
                <td mat-cell *matCellDef="let element" [align]="columnsSchema[i].type === 'number' ? 'right' : 'left'">
                    {{ element[col.key] }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumn; sticky: true">
            </tr>
            <tr mat-row *matRowDef="let member; columns: displayedColumn;" (click)="onRowClicked(member)"
                [ngClass]="{'selected': member === selectedMember}">
            </tr>
        </table>
        <mat-paginator #paginator [length]="totalLength" [pageSizeOptions]="[10, 20,50]"></mat-paginator>
    </mat-card-content>
</mat-card>