button.remove-button {
  margin-top: 16px; /* Adjust the spacing as needed */
  margin-bottom: 16px;
}
.gpLabel {
  font-style: italic;
  text-align: left;
  font-weight: bold;
  background: #2bb961;
  background-color: #fa7d44;
}
.gpDescription {
  font-style: normal;
}
.fullWith {
  width: 100%;
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hori {
  display: flex;
  margin-right: 16px;
  width: 100%;
  align-items: baseline;
  gap: 20px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr 300px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 12px;
  grid-template-areas:
    "header header header"
    "nav content rside";
  height: 85vh;
}
.header {
  color: white;
  font-size: 14px;
  grid-area: header;
  text-align: center;
  vertical-align: middle;
  background-color: #fa7d44;
}

.nav {
  grid-area: nav;
  margin-left: 0.6rem;
}

.mainbody {
  grid-area: content;
  padding: 25px;
}
.rside {
  grid-area: rside;
  margin-right: 0px;
}

@media (max-width: 560px) {
  nav,
  rside {
    margin: 0;
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "nav"
      "content"
      "rside";
    grid-template-rows: auto auto 1fr minmax(70px, auto) auto;
  }
  .hori {
    display: block;
    margin-right: 16px;
    width: 100%;
  }
}
.nav mat-form-field {
  width: 100%;
  height: auto;
}

.table {
  width: 100%;
}

.mat-mdc-table .mdc-data-table__row:hover {
  background-color: #e9f3ff !important;
}

.mat-column-id {
  width: 50px;
}

.mat-column-status {
  width: 100px;
  border: 1;
}

.th {
  text-align: left;
  justify-content: flex-start;
  background-color: dimgray;
}
.nav ul {
  padding-left: 0%;
}
.subtitle{
  border-bottom: #171717;
  border-width: 1px;
}
mat-card-title-group img {
  border-radius: 50%;
}