.example-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  padding: 16px;
  overflow: auto;
}

.footer {
  background-color: #b4beb9;
  padding: 10px;
  text-align: center;
  flex-shrink: 0;
}