<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav role="navigation">
    <!-- this is a place for us to add side-nav code-->
    <app-sidenav-list [member]="member" *ngIf="isMenuShow" (sidenavClose)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header [member]="member" *ngIf="isMenuShow" (sidenavToggle)="sidenav.toggle()"></app-header>
    <!--div *ngIf="myLoader | async as showLoading">
      <app-loading-spinner *ngIf="showLoading"></app-loading-spinner>
    </div-->
    <!--in here all the content must reside. We will add a navigation header as well-->
    <div  class="content">
      <router-outlet></router-outlet>
      <app-loading-spinner *ngIf="loading$ | async" [message]="message$ | async"></app-loading-spinner>
    </div>
    <footer class="footer">
      <span> Software Training component by YML Kumara &#64;OUSL 2024 Under supervision of Dr.LSK Udugama</span>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>