
<mat-card *ngIf="profile">
  <mat-card-header>
    <mat-card-title>{{ profile.name }}</mat-card-title>
    <mat-card-subtitle>{{ profile.designation }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <mat-list>
          <mat-list-item><strong>Employee No:</strong> {{ profile.empNo }}</mat-list-item>
          <mat-list-item><strong>Email:</strong> {{ profile.email }}</mat-list-item>
          <mat-list-item><strong>Contact No:</strong> {{ profile.contactNo }}</mat-list-item>
          <mat-list-item><strong>NIC:</strong> {{ profile.nic }}</mat-list-item>
          <mat-list-item><strong>Address:</strong> {{ profile.address }}</mat-list-item>
          <mat-list-item><strong>Civil Status:</strong> {{ profile.civilStatus }}</mat-list-item>
          <mat-list-item><strong>Sex:</strong> {{ profile.sex }}</mat-list-item>
          <mat-list-item><strong>Date of Birth:</strong> {{ profile.dob }}</mat-list-item>
          <mat-list-item><strong>Department:</strong> {{ profile.department }}</mat-list-item>
        </mat-list>
      </mat-grid-tile>
      <mat-grid-tile>
        <div style="padding: 16px;">
            <h3 style="margin-bottom: 8px;">Roles</h3>
            <mat-chip-listbox aria-label="User Roles" style="display: flex; flex-wrap: wrap; gap: 8px;">
                <mat-chip *ngFor="let role of profile.roles" color="primary" selected>
                    {{ role.role }}
                    <mat-icon matChipTrailingIcon >cancel</mat-icon>
                </mat-chip>
            </mat-chip-listbox>
        </div>
    </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>
    <h3>Member Registrations Details</h3>
    <mat-list *ngFor="let reg of profile.memberRegistrations">
      <mat-list-item><strong>Year:</strong> {{ reg.year }}</mat-list-item>
      <mat-list-item><strong>Scheme Type:</strong> {{ reg.schemeType }}</mat-list-item>
      <mat-list-item><strong>Accepted Date:</strong> {{ reg.acceptedDate }}</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
