
.example-full-width {
    width: 98%;
}
.title{
    margin-top: 8px;
}
.mat-input-element {
    position: relative;
    top: -0.3em;
    /* Adjust accordingly to keep placeholder/input text vertically centered. */
}