<form [formGroup]="dForm">
  <!--mat-card>
    <mat-card-title>
      {{ inputdata.title }}
    </mat-card-title>
    <mat-card-content>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input type="text" formControlName="name" matInput />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="!dForm.valid" (click)="addBeneficiaryDetails()">
        Add
      </button>
      <button mat-raised-button color="warn" (click)="closePopup()">Close</button>
    </mat-card-actions>
  </mat-card-->
  <h1 mat-dialog-title>{{ inputData.title }}</h1>

  <div mat-dialog-content>
    <mat-form-field class="example-full-width title" appearance="outline">
      <mat-label>Name</mat-label>
      <input type="text" formControlName="name" matInput />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>NIC</mat-label>
      <input type="text" matInput formControlName="nic" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <input type="text" placeholder="Relationship" aria-label="text" matInput formControlName="relationship"
        [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of relationshipOptions" [value]="option">{{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Percentage</mat-label>
      <input type="text" onlyNumber matInput min="0" max="100" formControlName="percent" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button *ngIf="!showEditBtn" color="primary" [disabled]="!dForm.valid" (click)="addBeneficiaryDetails()">
      <mat-icon>add</mat-icon>Add
    </button>
    <button mat-raised-button *ngIf="showEditBtn"color="primary" [disabled]="!dForm.valid" (click)="addBeneficiaryDetails()">
      <mat-icon>edit</mat-icon>Edit
    </button>
    <button mat-raised-button color="warn" (click)="closePopup()">Close</button>
  </div>
</form>