.fullWith {
  width: 100%;
}

.hori {
  display: flex;
  width: 100%;
  align-items: baseline;
  gap: 20px;
  margin-top: 16px; 
}


input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.container {
  display: grid;
  grid-template-columns: .6fr .4fr;
  grid-template-rows: auto auto;
  grid-gap: 12px;
  grid-template-areas:
    "header header"
    "content rside";
  height: auto;
}
.header {
  color: white;
  height: 60px;
  font-size: 14px;
  grid-area: header;
  text-align: center;
  align-items: center;
  background-color: #fa7d44;
}

.mainbody {
  grid-area: content;
  padding: 5px;
}
.rside {
  grid-area: rside;
  margin-right: 0.6rem;
}

@media (max-width: 560px) {
  nav,
  rside {
    margin: 0;
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "content"
      "rside";
    grid-template-rows: auto auto 1fr minmax(70px, auto) auto;
  }
  .hori {
    display: block;
    margin-right: 16px;
    width: 100%;
  }
}

.table {
  width: 100%;
}

.mat-mdc-table .mdc-data-table__row:hover {
  background-color: #e9f3ff !important;
}

.mat-column-id {
  width: 50px;
}

.mat-column-status {
  width: 100px;
  border: 1;
}

.th {
  text-align: left;
  justify-content: flex-start;
  background-color: dimgray;
}

