//scss
@use '@angular/material' as mat;

@include mat.core(); // Required only once!

// Custom medical palette
$medical-primary: mat.define-palette(mat.$teal-palette, 700);
$medical-accent: mat.define-palette(mat.$pink-palette, 600);
$medical-warn: mat.define-palette(mat.$red-palette);

// Light theme
$light-theme: mat.define-light-theme((
  color: (
    primary: $medical-primary,
    accent: $medical-accent,
    warn: $medical-warn,
  ),
  background: (
    background: #f5f8f7,
    card: white,
  )
));

// Dark theme
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $medical-primary,
    accent: $medical-accent,
    warn: $medical-warn,
  ),
  background: (
    background: #121212,
    card: #1e1e1e,
  )
));


.dark-theme {
  @include mat.all-component-themes($dark-theme);
  --bg-color: #121212;
  --pulse-color: #00ff00; // bright pulse for dark background
}

// Add theme classes
.light-theme {
  @include mat.all-component-themes($light-theme);
  --bg-color: #f5f5f5;
  --pulse-color: red;
}
