/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-elevation-z8 {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.topClass {
  /*padding: 10px;*/
  font-family: Arial, sans-serif;
}
.topClass-table th.mat-header-cell {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #121212;
  /* Set the background color to match the table */
}

.topClass-table tr:hover {
  background-color: #f5f5f5;
}

.topClass-table tr.selected {
  background-color: #d1ecf1;
}

.topClass-table th,
.topClass-table td {
  padding: 8px;
  text-align: left;
}

.topClass-table th {
  background-color: #f1f1f1;
  cursor: pointer;
}
.topClass-table td {
  border-bottom: 1px solid #ddd;
}
.mat-paginator {
  margin-top: 20px;
  justify-content: center;
}
::ng-deep .mat-sort-header-container {
  padding: 10px;
}

::ng-deep .mat-sort-header-arrow {
  font-size: 16px;
  color: #000;
}