<div class="content">
  <div class="nav">
    <ng-container *ngIf="selectedMember">
      <mat-card class="card">
        <mat-card-header>
          <h3 class="profile-name">{{selectedMember.name}}</h3>
        </mat-card-header>
        <mat-card-content class="mat-card-content">
          <div class="profile-content">
            <img [src]="profilePhotoUrl" alt="Profile Photo" class="profile-photo">
            <div class="profile-details">
              <p class="profile-name">{{selectedMember.empNo}}</p>
              <p class="profile-info">{{selectedMember.designation}}</p>
              <p class="profile-info">{{selectedMember.department}}</p>
            </div>
          </div>
          <p>Email: {{selectedMember.email}}</p>
          <p>Phone: {{selectedMember.contactNo}}</p>
          <p *ngIf="showFullProfile">Address: {{selectedMember.address}}</p>
          <p *ngIf="showFullProfile">NIC: {{selectedMember.nic}}</p>
          <mat-divider *ngIf="showFullProfile"></mat-divider>
          <p *ngIf="showFullProfile">Gender: {{selectedMember.sex}}</p>
          <p *ngIf="showFullProfile">DOB: {{selectedMember.dob}}</p>
          <p *ngIf="showFullProfile">Civil Status: {{selectedMember.civilStatus}}</p>
          <a class="show-more-link" (click)="toggleProfile()">
            {{ showFullProfile ? 'Show less \u25B2' : 'Show more \u25BC' }}
          </a>
          <div class="profile-buttons">
            <button mat-raised-button color="primary" (click)="showClaimHistory()">Claim History</button>
            <button mat-raised-button color="accent" (click)="showBeneficiaryData()">Beneficiary
              Data</button>
            <button mat-raised-button color="warn" (click)="showDependantData()">Dependant Data</button>
          </div>
        </mat-card-content>
        <mat-action-row class="mat-action-row">
        </mat-action-row>
      </mat-card>
    </ng-container>

  </div>

  <div class="body">
    <ng-container *ngIf="viewMode === 'table'; else actionContent">
      <mat-card class=" card">
        <mat-card-header>
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Names or Emp No" [formControl]="searchControl">
          </mat-form-field>
        </mat-card-header>
        <mat-card-content class="mat-card-content">
          <table mat-table class="topClass-table mat-elevation-z8" [dataSource]="dataSource" matSort>

            <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema; let i = index">
              <th mat-sort-header *matHeaderCellDef> {{columnsSchema[i].label}}</th>
              <td mat-cell *matCellDef="let element" [align]="columnsSchema[i].type === 'number' ? 'right' : 'left'">
                {{ element[col.key] }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumn; sticky: true">
            </tr>
            <tr mat-row *matRowDef="let member; columns: displayedColumn;" (click)="onRowClicked(member)"
              [ngClass]="{'selected': member === selectedMember}">
            </tr>
          </table>
          <mat-paginator #paginator [length]="totalLength" [pageSize]="5"
            [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <ng-template #actionContent>
      <div>
        <button mat-icon-button (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
          <span class="back-text">Back</span>
        </button>
        <ng-container [ngSwitch]="viewMode" *ngIf="selectedMember">
          <app-claim-history *ngSwitchCase="'claimHistory'" [member]="selectedMember"></app-claim-history>
          <app-beneficiary-data *ngSwitchCase="'beneficiaryData'" [member]="selectedMember"></app-beneficiary-data>
          <app-dependant-data *ngSwitchCase="'dependantData'" [member]="selectedMember"></app-dependant-data>
        </ng-container>
      </div>
    </ng-template>
  </div>
</div>