<!--div class="content" fxLayout="row wrap" fxLayoutGap="16px"-->
  <div 
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutGap="20px"
  fxLayoutGap.xs="10px"
>
  <mat-card
    class="mat-elevation-z4 custom-card"
    fxFlex="33%"
    fxFlex.xs="100%"
    fxFlex.sm="50%"
  >
    <mat-card-header>
      <mat-card-title>OPD Reimbursement</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-label>Requested {{ opdRequestSum | currency : "Rs." }}</mat-label>
      <br />
      <mat-label>Paid {{ opdPaidSum | currency : "Rs." }}</mat-label>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="opdClaim()">
        Place a New Claim
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card
    class="mat-elevation-z4 custom-card"
    fxFlex="33%"
    fxFlex.xs="100%"
    fxFlex.sm="50%"
  >
    <mat-card-header>
      <mat-card-title>Surgical & Hospital Charges</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-label>Requested {{ hsRequestSum | currency : "Rs." }}</mat-label>
      <br />
      <mat-label>Paid {{ hsPaidSum | currency : "Rs." }}</mat-label>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="hospitalClaim()">
        Place a New Claim
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card
    class="mat-elevation-z4 custom-card"
    fxFlex="33%"
    fxFlex.xs="100%"
    fxFlex.sm="100%"
  >
    <mat-card-header>
      <mat-card-title>My Claims</mat-card-title>
    </mat-card-header>

    <mat-card-content> </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="inquiry()">
        Inquires
      </button>
    </mat-card-actions>
  </mat-card>
</div>