

.header-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header-actions {
  position: relative;
  text-align: right;
  padding-right: 16px;
}

.mat-column-actions {
  width: 48px;
}

.mat-menu-panel {
  max-height: 400px;
  overflow-y: auto;
}

.column-selector {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
}

.column-selector mat-checkbox {
  margin-bottom: 8px;
}
.text-right {
  text-align: right;
}

.element-row {
  cursor: pointer;
}

.detail-row {
  height: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}